.home {
    color: #fff;
    background: linear-gradient(to right, rgba(1, 0, 56, 0.8), rgba(0, 52, 97, 0.8)), url(../../assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .home {
        height: unset;
        min-height: unset; } }
    
    .home__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90rem;
      width: 92%; }
      @media only screen and (max-width: 37.5em) {
        .home__content {
          padding: 19rem 0 13rem 0;
          margin: auto;
          position: static;
          transform: translate(0, 0); } }
    .home__info {
      margin: 3rem auto 0 auto;
      max-width: 80rem; }
    .home__cta {
      margin-top: 5rem;
      text-align: center; }